body{
    display: flex;
    background-color: #f7ece1;
}

header{display: flex; 
       color: #f7ece1;
       position: fixed;
       flex-direction: row;
       align-items: center; 
       width: 50%; 
       height: 5%;
       border-radius: 30px 30px 30px 30px; 
       margin-left: 24%; background-color: darkslategray;}

.menu{display: flex; 
      color:#f7ece1;
      height: 100%;
      width: 100%;
      text-size-adjust: auto;
      justify-content: center;
      align-items: center; 
      border-radius: 30px 30px 30px 30px;}

.menu:hover a{
      display: flex;
      background-color: #f7ece1;
      height: 100%;
      width: 100%;
      color: darkslateblue;
      justify-content: center;
      align-items: center; 
      text-decoration: solid;
      text-decoration-color: darkslateblue;
      border-radius: 15px 15px 15px 15px;
    }

.menu a{
    text-decoration: none;
    color: #f7ece1;
}

nav{width: 3%; 
    height: 26%;
    position: fixed;     
    display:flex ;
    flex-direction: column;
    align-items: center;
    bottom: 3%;
    left: 2%;
   }

.git{width: 75%;
     height: 75%; 
     margin-bottom: 15%;
     margin-left: 7.6%;
}

.mail{width: 75%;
      height: 80%; 
      margin-left: 7.6%;
      margin-bottom: 15%;
}

.linkedin{width: 75%;
          height: 75%; 
          margin-left: 7.6%;
          margin-bottom: 15%;
}

nav div{
    display: flex;
    background-color: darkslategray;
    width: 3%;
    height: 27%;
}

.button{
    bottom: 3%;
    left: 49%;
    position: fixed;
}

.button img{
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

.button img:hover{
    opacity: 1;
}

.container{
    display: flex;
    scroll-snap-type: y mandatory;
    flex-flow: column nowrap;
    overflow: auto;
    flex: none;
}

.container > div{
    scroll-snap-align: center;
    flex: none;
}

