body{
    display: flex;
    flex-direction: column;
    background-color: #f7ece1;
}

header{display: flex; 
       color: #f7ece1;
       position: fixed;
       flex-direction: row;
       align-items: center; 
       width: 50vw; 
       height: 5vh;
       border-radius: 30px 30px 30px 30px; 
       margin-left: 24vw; background-color: darkslategray;}

.menu{display: flex; 
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center; 
      border-radius: 30px 30px 30px 30px;}

.menu:hover a{
      display: flex;
      background-color: #f7ece1;
      height: 100%;
      width: 100%;
      color: darkslateblue;
      justify-content: center;
      align-items: center; 
      text-decoration: solid;
      text-decoration-color: darkslateblue;
      border-radius: 15px 15px 15px 15px;
    }

.menu a{
    text-decoration: none;
    color: whitesmoke;
}

nav{width: 3vW; 
    height: 26vh;
    position: fixed;     
    display:flex ;
    flex-direction: column;
    align-items: center;
    bottom: 3vh;
    left: 2vw;
   }

.git{width: 80%;
     height: 73%; 
     margin-bottom: 15%;
     margin-left: 7.6%;
}

.mail{width: 80%;
      height: 80%; 
      margin-left: 7.6%;
      margin-bottom: 15%;
}

.linkedin{width: 80%;
          height: 73%; 
          margin-left: 7.6%;
          margin-bottom: 15%;
}

nav div{
    display: flex;
    background-color: darkslategray;
    width: 3.5%;
    height: 27%;
}

.button{
    bottom: 3vh;
    left: 48.45vw;
    position: fixed;
}

.button img{
    height: 30%;
    width: 30%;
    opacity: 0.2;
}

.button img:hover{
    opacity: 1;
}

