footer {
    width: 100%;
    height: 108px;
    position: absolute;
    bottom: 0px; }

footer nav {
        border-top: solid var(--lemonMeringue) 1px;
        width: 90%;
        max-width: 750px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center; }

footer nav div {
        width: 33%;
        max-width: 180px;
        align-self: center;
        text-align: center; }